<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add(0)" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
  <st #st [data]="record" [columns]="columns" [expand]="expand" expandRowByClick [page]="pagination">
    <ng-template #expand let-item let-index="index" let-column="column">
      <st #stItem [data]="item.children" [columns]="columns" [expand]="expand" [page]="pagination" expandRowByClick>
        <ng-template #expand let-item let-index="index" let-column="column">
          <st #stItemChild [data]="item.children" [columns]="stItemColumns" [page]="pagination"></st>
        </ng-template>
      </st>
    </ng-template>
  </st>
</nz-card>
