<page-header [content]="content">
  <ng-template #content>
    <app-firm-drawer #drawer (callback)="cartQuery($event)"></app-firm-drawer>
  </ng-template>
</page-header>
<nz-card>
  <nz-tabset>
    <nz-tab nzTitle="发货仓">
      <sf mode="search" [schema]="cartSearchSchema" (formSubmit)="cartQuery($event)" (formReset)="cart.reset($event)"></sf>
      <st #cart [data]="cartRecord" [columns]="cartColumns" (change)="cartChange($event)"></st>
      <button nz-button nzType="primary" *ngIf='cartRecord'  [disabled]="deliverData.length==0" (click)="deliver()" style="margin-top: 10px;">发货</button>
    </nz-tab>
    <nz-tab nzTitle="发货单">
      <sf mode="search" [schema]="listSearchSchema" (formSubmit)="listQuery($event)" (formReset)="list.reset($event)"></sf>
      <st #list [data]="page.records" [columns]="listColumns" (change)="listChange($event)" [pi]="page.current" [ps]="page.size" [total]="page.total" [page]="pagination"></st>
    </nz-tab>
  </nz-tabset>
</nz-card>
  
