<h3>{{ 'app.password.reset' | translate }}</h3>
<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'validation.password.required' | translate">
      <nz-popover
        [nzPlacement]="'right'"
        [nzTrigger]="'focus'"
        [(nzVisible)]="visible"
        nzOverlayClassName="register-password-cdk"
        [nzOverlayStyle]="{ 'width.px': 240 }"
      >
        <nz-input-group nzSize="large" nz-popover nzAddonBeforeIcon="lock">
          <input nz-input type="password" formControlName="password" placeholder="密码" />
        </nz-input-group>
        <ng-template #nzTemplate>
          <div style="padding: 4px 0;">
            <ng-container [ngSwitch]="status">
              <div *ngSwitchCase="'ok'" class="success">{{ 'validation.password.strength.strong' | translate }}</div>
              <div *ngSwitchCase="'pass'" class="warning">{{ 'validation.password.strength.medium' | translate }}</div>
              <div *ngSwitchDefault class="error">{{ 'validation.password.strength.short' | translate }}</div>
            </ng-container>
            <div class="progress-{{ status }}">
              <nz-progress
                [nzPercent]="progress"
                [nzStatus]="passwordProgressMap[status]"
                [nzStrokeWidth]="6"
                [nzShowInfo]="false"
              ></nz-progress>
            </div>
            <p class="mt-sm">{{ 'validation.password.strength.msg' | translate }}</p>
          </div>
        </ng-template>
      </nz-popover>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="confirmErrorTip">
      <nz-input-group nzSize="large" nzAddonBeforeIcon="lock">
        <input nz-input type="password" formControlName="confirm" placeholder="确认密码" />
      </nz-input-group>
      <ng-template #confirmErrorTip let-i>
        <ng-container *ngIf="i.errors?.required">{{ 'validation.confirm-password.required' | translate }}</ng-container>
        <ng-container *ngIf="i.errors?.equar">{{ 'validation.password.twice' | translate }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'validation.verification-code.required' | translate">
      <nz-row [nzGutter]="8">
        <nz-col [nzSpan]="13">
          <nz-input-group nzSize="large" nzAddonBeforeIcon="mail">
            <input nz-input formControlName="captcha" placeholder="验证码" />
          </nz-input-group>
        </nz-col>
      </nz-row>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="http.loading" class="submit">
      {{ 'app.password.reset' | translate }}
    </button>
  </nz-form-item>
</form>
