<page-header [content]="content" >
  <ng-template #content >
    <app-firm-drawer #drawer (callback)="query($event)"></app-firm-drawer>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="query($event)" (formReset)="st.reset($event)" acl [acl-ability]="'query'"></sf>
  <st #cart [data]="listRecord" [columns]="columns">
    <ng-template st-row="id" let-item>
      <app-firm-order-popover [orderId]="item.orderId" [supply]="true"></app-firm-order-popover>
    </ng-template>
  </st>
</nz-card>
