<div class="modal-header">
  <div class="modal-title">编辑 {{ record.roleName }} 菜单</div>
</div>
<nz-spin *ngIf="!record" class="modal-spin"></nz-spin>
<nz-tree #treeElement [nzData]="nodes" nzCheckable nzMultiple>
  <ng-template #nzTreeTemplate let-node>
    <span>
      <span *ngIf="!node.isLeaf">
        <span style='margin-right: 10px;'>{{ node.title }}</span>
      </span>
      <span *ngIf="node.isLeaf">
        <span style='margin-right: 10px;'>{{ node.title }}</span>
        <nz-tag nzMode="closeable" [nzChecked]="true" *ngFor="let tag of node.origin.permisson.abilities"
          (nzAfterClose)="handleClose(tag,node)">{{ tag }}</nz-tag>
        <nz-tag *ngIf="!node.origin.permisson.inputVisible" nzNoAnimation (click)="showInput(node)">
          <i nz-icon type="plus"></i> 新权限
        </nz-tag>
        <input nz-input nzSize="small" *ngIf="node.origin.permisson.inputVisible" type="text" [(ngModel)]="node.origin.permisson.inputValue"
          style="width: 78px;" (blur)="handleInputConfirm(node)" (keydown.enter)="handleInputConfirm(node)" />
      </span>
    </span>
  </ng-template>
</nz-tree>

<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button type="submit" nzType="primary" [nzLoading]="http.loading" (click)="save()">保存</button>
</div>
