<page-header [title]="'采购订单明细'" [action]="action" [extra]="extra">
  <ng-template #action>
    <nz-button-group>
      <button nz-button (click)="backList($event)">返回列表</button>
      <button nz-button *ngIf='addFlag.first' (click)="editOrderInfo()">填写订单信息</button>
      <button nz-button *ngIf='!addFlag.first'>完结订单</button>
    </nz-button-group>
    <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
      <i nz-icon nzType="ellipsis"></i>
    </button>
    <nz-dropdown-menu #opMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>选项一</li>
        <li nz-menu-item>选项二</li>
        <li nz-menu-item>选项三</li>
      </ul>
    </nz-dropdown-menu>
    <button nz-button [nzType]="'primary'" (click)="createNew()">再来一单</button>
  </ng-template>
  <ng-template #extra>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey">状态</p>
        <p class="text-lg">{{orderInfo.status}}</p>
      </div>
      <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey">订单金额</p>
        <p class="text-lg">¥ {{amountNum}}</p>
      </div>
    </div>
  </ng-template>
  <sv-container size="small" col="2">
    <sv label="创建人">{{orderInfo.createBy}}</sv>
    <sv label="订单编号">{{orderInfo.orderNo}}</sv>
    <sv label="下单时间">{{orderInfo.orderTime}}</sv>
    <sv label="收货信息">{{orderInfo.receiveInfo}}</sv>
    <sv label="是否开票">{{orderInfo.needInvoice}}</sv>
    <sv label="备注">{{orderInfo.remark}}</sv>
  </sv-container>
</page-header>
<nz-card [nzBordered]="false" class="mb-lg" nzTitle="流程进度" >
  <nz-steps [nzCurrent]="currentStep" nzProgressDot *ngIf='!addFlag.first'>
    <nz-step [nzTitle]="'创建订单'" [nzDescription]="createDesc">
      <ng-template #createDesc>
        <div class="desc">
          <div class="my-sm">
            {{orderInfo.createBy}}
          </div>
          <div>{{orderInfo.orderTime}}</div>
        </div>
      </ng-template>
    </nz-step>
    <nz-step [nzTitle]="'提交订单'" [nzDescription]="commitDesc">
      <ng-template #commitDesc>
        <div class="desc">
          <div class="my-sm">
            {{orderInfo.commitBy}}
          </div>
          <div>{{orderInfo.commitTime}}</div>
          <a (click)="commitPurchaseOrder()" *ngIf="orderInfo.status==0">提交</a>
        </div>
      </ng-template>
    </nz-step>
    <nz-step [nzTitle]="'等待供方审核'" [nzDescription]="verifyDesc">
      <ng-template #verifyDesc>
        <div class="desc">
          <div class="my-sm">
            {{orderInfo.verifyBy}}
          </div>
          {{orderInfo.verifyTime}}
          <a (click)="msg.success('click')" *ngIf="orderInfo.status==5">催一下</a>
        </div>
      </ng-template>
    </nz-step>
    <nz-step [nzTitle]="'供方发货中'" [nzDescription]="deliverDesc">
      <ng-template #deliverDesc>
        <div class="desc">
          <div class="my-sm">
            {{orderInfo.verifyBy}}
          </div>
          {{orderInfo.verifyTime}}
        </div>
      </ng-template>
    </nz-step>
    <nz-step [nzTitle]="'完成'"></nz-step>
  </nz-steps>
  <div class="steps-content"></div>
</nz-card>
<nz-card nzTitle="订单详情" [nzHoverable]="true" [nzBordered]="false" [nzExtra]="extraTemplate" [nzActions]="[actionSave]">
  <ng-template #extraTemplate>
    <nz-button-group >
      <button nz-button (click)="editProviderInfo()">选择供应商</button>
      <button nz-button (click)="editMaterialInfo({})">添加物料</button>
    </nz-button-group>
  </ng-template>
  <sv-container size="large" title="供应商信息">
    <sv label="名称">{{providerInfo.name}}</sv>
    <sv label="联系人">{{providerInfo.contacts}}</sv>
    <sv label="联系电话">{{providerInfo.phone}}</sv>
    <sv label="社会统一信用代码">{{providerInfo.unicode}}</sv>
    <sv label="地址">{{providerInfo.address}}</sv>
  </sv-container>
  <nz-divider></nz-divider>
  <div class="text-lg mb-md">物料清单</div>
  <st #st [data]="orderDetail" [columns]="detailColumns" [body]="detailBody" [page]="{ show: false }">
    <ng-template #detailBody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right">合计</td>
        <td class="text-right">
          <strong>{{ basicNum }}</strong>
        </td>
        <td class="text-right">
          <strong>{{ amountNum | _currency }}</strong>
        </td>
        <td></td>
        <td></td>
      </tr>
    </ng-template>
  </st>
</nz-card>
<ng-template #actionSave>
  <button nz-button type="submit" nzType="primary" (click)="saveOrder()">保存订单</button>
</ng-template>
<ng-template #tplOrderInfo>
  <sf #sf mode="edit" [schema]="orderInfoSchema" [ui]="orderInfoUi" [formData]="orderInfo" button="none" ></sf>
</ng-template>
<!-- 订单明细编辑框 -->
<nz-modal
    [(nzVisible)]="orderInfoModalVisibility"
    [nzTitle]="orderInfoTitle"
    [nzContent]="orderInfoContent"
    [nzWidth]="750"
    [nzFooter]="null"
    (nzOnCancel)="handleOrderInfoModalClose(null)"
  >
  <ng-template #orderInfoTitle>
    <div class="modal-title">编辑订单信息</div>
  </ng-template>
  <ng-template #orderInfoContent>
    <sf #odersf mode="edit" [schema]="orderInfoSchema" [ui]="orderInfoUi" [formData]="orderInfo" button="none" >
      <div class="modal-footer">
        <button nz-button type="submit" nzType="primary" (click)="handleOrderInfoModalClose(odersf.value)" 
          [disabled]="!odersf.valid" >确定</button>
      </div>
    </sf>
  </ng-template>
</nz-modal>
<!-- 供应商选择 -->
<nz-modal
    [(nzVisible)]="providerModalVisibility"
    [nzTitle]="providerInfoTitle"
    [nzContent]="providerInfoContent"
    [nzWidth]="750"
    [nzFooter]="null"Provider
    (nzOnCancel)="handleProviderInfoModalClose(null)"
  >
  <ng-template #providerInfoTitle>
    <div class="modal-title">选择供应商</div>
  </ng-template>
  <ng-template #providerInfoContent>
    <sf mode="search" [schema]="providerSearchSchema" (formSubmit)="queryProvider($event)"></sf>
    <st #providerst [data]="providerPage.records" [columns]="providerColumns" (change)="providerPageChange($event)"
    [pi]="providerPage.current" [ps]="providerPage.size" [total]="providerPage.total" [page]="providerPagination"></st>
  </ng-template>
</nz-modal>
<!-- 物料编辑框 -->
<nz-modal
    [(nzVisible)]="materialModalVisibility"
    [nzTitle]="materialInfoTitle"
    [nzContent]="materialInfoContent"
    [nzWidth]="750"
    [nzFooter]="null"
    (nzOnCancel)="handleMaterialInfoModalClose(null,null)"
  >
  <ng-template #materialInfoTitle>
    <div class="modal-title">编辑物料信息</div>
  </ng-template>
  <ng-template #materialInfoContent>
    <sf *ngIf="tmpMaterialRecord" #materialsf mode="edit" [schema]="materialSchema" [ui]="materialUi" [formData]="tmpMaterialRecord" button="none" >
      <div class="modal-footer">
        <button nz-button type="button" (click)="handleMaterialInfoModalClose(null,null)">关闭</button>
        <button nz-button type="submit" nzType="primary" (click)="handleMaterialInfoModalClose(materialsf.value,false)" *ngIf="!tmpMaterialRecord.id"
          [disabled]="!materialsf.valid" >添加</button>
        <button nz-button type="submit" nzType="primary" (click)="handleMaterialInfoModalClose(materialsf.value,true)" *ngIf="tmpMaterialRecord.id"
          [disabled]="!materialsf.valid" >修改</button>
      </div>
    </sf>
  </ng-template>
</nz-modal>