<page-header [action]="phActionTpl" [content]="content">
  <ng-template #content>
    <app-firm-drawer #drawer (callback)="query($event)"></app-firm-drawer>
  </ng-template>
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button acl [acl-ability]="'add'" nzType="primary">新增</button>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="query($event)" (formReset)="st.reset($event)" acl [acl-ability]="'query'"></sf>
  <st #st [data]="page.records" [columns]="columns" (change)="change($event)"
    [pi]="page.current" [ps]="page.size" [total]="page.total" [page]="pagination"></st>
</nz-card>
