<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button nzType="primary">新增</button>
  </ng-template>
</page-header>
<nz-card>
  <sf mode="search" [schema]="searchSchema" (formSubmit)="query($event)" (formReset)="st.reset($event)"></sf>
  <st #st [data]="page.records" [columns]="columns" (change)="change($event)"
    [pi]="page.current" [ps]="page.size" [total]="page.total" [page]="pagination">
    <ng-template st-row="authList" let-item let-index="index">
      <nz-tag [nzColor]="'#2db7f5'" *ngFor="let tag of item.authList">{{ getTag(tag) }}</nz-tag>
    </ng-template>
  </st>
</nz-card>
